<div class="row">
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img class="img-responsive" src="https://upload.wikimedia.org/wikipedia/en/thumb/5/5e/Gothiccover.png/220px-Gothiccover.png"
                alt="product_image">
            <div class="caption">
                <h3>Thumbnail label</h3>
                <p class="description">Lorem Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sit amet
                    aliquam urna. Fusce
                    malesuada augue ex, vitae porta tellus varius non. Donec eget nibh felis. Nulla porttitor urna a
                    venenatis faucibus. Aliquam erat volutpat. Nunc lectus lacus,
                    fringilla a sapien vel, fringilla tempor urna. Aliquam erat volutpat. Maecenas id libero risus. </p>
                <div class="clearfix">
                    <div class="price pull-left">$12</div>
                    <a href="#" class="btn btn-success pull-right" role="button">Button</a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img class="img-responsive" src="https://upload.wikimedia.org/wikipedia/en/thumb/5/5e/Gothiccover.png/220px-Gothiccover.png"
                alt="product_image">
            <div class="caption">
                <h3>Thumbnail label</h3>
                <p class="description">Lorem Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sit amet
                    aliquam urna. Fusce
                    malesuada augue ex, vitae porta tellus varius non. Donec eget nibh felis. Nulla porttitor urna a
                    venenatis faucibus. Aliquam erat volutpat. Nunc lectus lacus,
                    fringilla a sapien vel, fringilla tempor urna. Aliquam erat volutpat. Maecenas id libero risus. </p>
                <div class="clearfix">
                    <div class="price pull-left">$12</div>
                    <a href="#" class="btn btn-success pull-right" role="button">Button</a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img class="img-responsive" src="https://upload.wikimedia.org/wikipedia/en/thumb/5/5e/Gothiccover.png/220px-Gothiccover.png"
                alt="product_image">
            <div class="caption">
                <h3>Thumbnail label</h3>
                <p class="description">Lorem Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sit amet
                    aliquam urna. Fusce
                    malesuada augue ex, vitae porta tellus varius non. Donec eget nibh felis. Nulla porttitor urna a
                    venenatis faucibus. Aliquam erat volutpat. Nunc lectus lacus,
                    fringilla a sapien vel, fringilla tempor urna. Aliquam erat volutpat. Maecenas id libero risus. </p>
                <div class="clearfix">
                    <div class="price pull-left">$12</div>
                    <a href="#" class="btn btn-success pull-right" role="button">Button</a>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="row">
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img class="img-responsive" src="https://upload.wikimedia.org/wikipedia/en/thumb/5/5e/Gothiccover.png/220px-Gothiccover.png"
                alt="product_image">
            <div class="caption">
                <h3>Thumbnail label</h3>
                <p class="description">Lorem Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sit amet
                    aliquam urna. Fusce
                    malesuada augue ex, vitae porta tellus varius non. Donec eget nibh felis. Nulla porttitor urna a
                    venenatis faucibus. Aliquam erat volutpat. Nunc lectus lacus,
                    fringilla a sapien vel, fringilla tempor urna. Aliquam erat volutpat. Maecenas id libero risus. </p>
                <div class="clearfix">
                    <div class="price pull-left">$12</div>
                    <a href="#" class="btn btn-success pull-right" role="button">Button</a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img class="img-responsive" src="https://upload.wikimedia.org/wikipedia/en/thumb/5/5e/Gothiccover.png/220px-Gothiccover.png"
                alt="product_image">
            <div class="caption">
                <h3>Thumbnail label</h3>
                <p class="description">Lorem Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sit amet
                    aliquam urna. Fusce
                    malesuada augue ex, vitae porta tellus varius non. Donec eget nibh felis. Nulla porttitor urna a
                    venenatis faucibus. Aliquam erat volutpat. Nunc lectus lacus,
                    fringilla a sapien vel, fringilla tempor urna. Aliquam erat volutpat. Maecenas id libero risus. </p>
                <div class="clearfix">
                    <div class="price pull-left">$12</div>
                    <a href="#" class="btn btn-success pull-right" role="button">Button</a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img class="img-responsive" src="https://upload.wikimedia.org/wikipedia/en/thumb/5/5e/Gothiccover.png/220px-Gothiccover.png"
                alt="product_image">
            <div class="caption">
                <h3>Thumbnail label</h3>
                <p class="description">Lorem Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sit amet
                    aliquam urna. Fusce
                    malesuada augue ex, vitae porta tellus varius non. Donec eget nibh felis. Nulla porttitor urna a
                    venenatis faucibus. Aliquam erat volutpat. Nunc lectus lacus,
                    fringilla a sapien vel, fringilla tempor urna. Aliquam erat volutpat. Maecenas id libero risus. </p>
                <div class="clearfix">
                    <div class="price pull-left">$12</div>
                    <a href="#" class="btn btn-success pull-right" role="button">Button</a>
                </div>
            </div>
        </div>
    </div>
</div>